name: Deploy PR to Pantheon (Direct)

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    paths:
      - '.github/testing_fixtures/**'
      - 'action.yml'
  workflow_dispatch:

jobs:
  deploy_pr:
    name: Deploy Pull Request
    # This job uses `pull_request_target` to gain access to secrets, which
    # are not available on normal `pull_request` events for forks.
    # The two-step checkout process below is critical for security.
    # It ensures that we are executing trusted code from the base repository
    # while operating on the untrusted code from the pull request.
    permissions:
      deployments: write
      contents: write # needed to checkout the PR code.
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
    # Checkout the base repository at the current commit.
    # This is the trusted code that will be executed.
    - uses: actions/checkout@v5

    # Checkout the pull request code into a subdirectory.
    # This is the code that will be deployed.
    - name: Checkout PR code
      uses: actions/checkout@v5
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}
        path: pr-code
    - name: Get Committer Email and Name
      run: |
          COMMITTER_EMAIL=$(git log --format='%ae' -n 1 ${{ github.sha }})
          COMMITTER_NAME=$(git log --format='%an' -n 1 ${{ github.sha }})

          # Configure git defaults
          git config --global user.email "$COMMITTER_EMAIL"
          git config --global user.name "$COMMITTER_NAME"
    - name: deploy to Pantheon
      uses: ./
      with:
        ssh_key: ${{ secrets.PANTHEON_SSH_KEY }}
        machine_token: ${{ secrets.TERMINUS_MACHINE_TOKEN }}
        site: ${{ vars.PANTHEON_SITE }}
        target_env: "pr-${{ github.event.pull_request.number }}"
        relative_site_root: "pr-code/.github/testing_fixtures/site:${{ vars.PANTHEON_SITE }}"
        git_user_name: "COMMITTER_EMAIL"
        git_user_email: "COMMITTER_NAME"
        git_commit_message: "This is an automated commit message from GitHub Actions."
        delete_old_environments: true
        clone_content: true