name: Manual Deploy Branch to Pantheon

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

on:
  workflow_dispatch:
    inputs:
      install_terminus:
        description: 'Install Terminus during deploy?'
        required: true
        default: 'Yes'
        type: choice
        options:
          - 'Yes'
          - 'No'
      run_cleanup:
        description: 'Run cleanup after successful deploy?'
        required: true
        default: 'No'
        type: choice
        options:
          - 'Yes'
          - 'No'

jobs:
  test_workflow_no_terminus_install:
    name: Test Deploy without Terminus Install
    if: ${{ github.event.inputs.install_terminus == 'No' }}
    permissions:
      deployments: write
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v5

    - name: Install Terminus
      uses: pantheon-systems/terminus-github-actions@v1.2.7
      with:
        pantheon-machine-token: ${{ secrets.PANTHEON_MACHINE_TOKEN }}

    - name: Run Terminus Command
      run: |
        terminus --version
        terminus art
        terminus auth:whoami
        terminus site:info dtp-nearly-empty-site
      shell: bash

    - name: Set short branch name
      id: vars
      run: echo "short_ref_name=$(echo ${{ github.ref_name }} | sed 's/[^a-zA-Z0-9-]//g' | cut -c1-8)" >> $GITHUB_OUTPUT

    - name: deploy to Pantheon
      uses: ./
      with:
        ssh_key: ${{ secrets.PANTHEON_SSH_KEY }}
        machine_token: ${{ secrets.PANTHEON_MACHINE_TOKEN }}
        site: dtp-nearly-empty-site
        target_env: "wd-${{ steps.vars.outputs.short_ref_name }}"
        relative_site_root: ".github/testing_fixtures/dtp-nearly-empty-site"
        git_user_name: "Test Name"
        git_user_email: "test@example.com"
        git_commit_message: "This is a manual test deployment from GitHub Actions."
        clone_content: true
        delete_old_environments: ${{ github.event.inputs.run_cleanup == 'Yes' }}

  test_workflow_with_terminus_install:
    name: Test Deploy with Terminus Install
    if: ${{ github.event.inputs.install_terminus == 'Yes' }}
    permissions:
        deployments: write
        contents: write
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repository
          uses: actions/checkout@v5

        - name: Set short branch name
          id: vars
          run: echo "short_ref_name=$(echo ${{ github.ref_name }} | sed 's/[^a-zA-Z0-9-]//g' | cut -c1-8)" >> $GITHUB_OUTPUT

        - name: deploy to Pantheon
          uses: ./
          with:
            ssh_key: ${{ secrets.PANTHEON_SSH_KEY }}
            machine_token: ${{ secrets.PANTHEON_MACHINE_TOKEN }}
            site: dtp-nearly-empty-site
            target_env: "wd-${{ steps.vars.outputs.short_ref_name }}"
            relative_site_root: ".github/testing_fixtures/dtp-nearly-empty-site"
            git_user_name: "Test Name"
            git_user_email: "test@example.com"
            git_commit_message: "This is a manual test deployment from GitHub Actions."
            clone_content: true
            delete_old_environments: ${{ github.event.inputs.run_cleanup == 'Yes' }}
       